paper-dialog.actionSheet {
    flex-direction: column;
}

.actionSheetMenuItem {
    padding: .7em 1em;
    margin: 0;
}

.actionSheetScroller {
    max-height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    /* Override default style being applied by polymer */
    margin-bottom: 0!important;
    scroll-behavior: smooth;
}

    .actionSheetScroller::-webkit-scrollbar, .actionSheetScroller::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
