<div class="tvGuideHeader">
    <div class="channelTimeslotHeader">
        <a class="btnSelectDate" href="#" style="display:block;"></a>
    </div>
    <div class="timeslotHeaders hiddenScrollX"></div>
</div>

<div class="scrollbar scrollbarY">
    <div class="handle"><div class="mousearea"></div></div>
</div>
<div class="scrollFrame scrollFrameY itemScrollFrame">
    <div class="scrollSlider">

        <div class="programContainer">
            <div class="channelList"></div>
            <div class="programGrid hiddenScrollX"></div>
        </div>
        <div style="height:10000px;"></div>
    </div>
</div>